<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyQuotes"
        tools:targetApi="31">
        <activity
            android:name=".Demo"
            android:exported="false" />
        <activity
            android:name=".t"
            android:exported="false"
            android:label="@string/title_activity_t"
            android:theme="@style/Theme.DailyQuotes" />
        <activity
            android:name=".Favroites"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote14"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote13"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote12"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote11"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote10"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote9"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote8"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote7"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote6"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote5"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote4"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote3"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote2"
            android:exported="false" />
        <activity
            android:name=".Quotes.Quote1"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>